<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>

    <div class="row">
        <div class="main-timeline pull-right col-xs-9">
            <div class="track-row" task_id="1" style="width: 10000px; height: 120px;">
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
            </div>
            <div class="track-row" task_id="1" style="width: 10000px; height: 120px;">
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
            </div>
            <div class="track-row" task_id="1" style="width: 10000px; height: 120px;">
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
            </div>
            <div class="track-row" task_id="1" style="width: 10000px; height: 120px;">
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
                <div class="quarter-note" style="width:70px;"></div>
            </div>
        </div>
    </div>


    <div ui-view></div>
        <button id="play">PLAY</button>


    <script>

        var t = Tone.Transport;

        var samples = [
            {
                startTime : '0m',
                player : new Tone.Player("/api/wav/percussionvocalssynths.wav"),
                endTime : '16m'
            },
            {
                startTime : '1m',
                player : new Tone.Player("/api/wav/bass-loop-3_synths.wav"),
                endTime : '3m'
            },
            {
                startTime : '4m',
                player : new Tone.Player("/api/wav/drum-loop-32_drums.wav"),
                endTime : '12m'
            },

            {
                startTime : '2m',
                player : new Tone.Player("/api/wav/drum-loop-41_drums_loop.wav"),
                endTime : '3m'
            },
            {
                startTime : '4m',
                player : new Tone.Player("/api/wav/drum-loop-41_drums_loop.wav"),
                endTime : '5m'
            },
            {
                startTime : '6m',
                player : new Tone.Player("/api/wav/drum-loop-41_drums_loop.wav"),
                endTime : '7m'
            },
            {
                startTime : '8m',
                player : new Tone.Player("/api/wav/drum-loop-41_drums_loop.wav"),
                endTime : '9m'
            },

            {
                startTime : '8m',
                player : new Tone.Player("/api/wav/synth-loop-7.wav"),
                endTime : '12m'
            },
            {
                startTime : '11m',
                player : new Tone.Player("/api/wav/vocal-loop-3.wav"),
                endTime : '16m'
            }
        ];

        t.bpm.value = 123;

        setTimeout(function () {

            samples.forEach(function (s) {

                s.player.toMaster();
                s.player.loop = true;

                t.setTimeline(function () {
                    s.player.stop();
                    s.player.start();
                }, s.startTime);

                t.setTimeline(function () {
                    console.log('End:', t.position);
                    s.player.stop();
                }, s.endTime);

            });

            t.start();

        }, 2000);

        t.loop = true;
        t.loopStart = '0m';
        t.loopEnd = '16m';

        t.setInterval(function () {
            console.log(t.position);
        }, '4n');

        window.onblur = function () {
            t.stop();
            samples.forEach(function (s) {
                s.player.stop();
            });
        };

        window.onfocus = function () {
            t.start();
        };
        // button for recording, button for dropping loop on timeline
    </script>


</body>
</html>