<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>ximer</title>
    <link rel="stylesheet" type="text/css" href="/js/scplayer/bassdock.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/scplayer/vhs.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="/fullpagescroll/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/ngKnob.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/ngstorage/ngStorage.min.js"></script>
    <script src="/js/wavesurfer/wavesurfer.min.js"></script>
    <script src="/js/Tone.min.js"></script>
    <script src="/js/ngKnob.js"></script>
    <script src="/main.js"></script>
    <script src="/js/audiodisplay.js"></script>
    <script src="/js/recorderjs/recorder.js"></script>
    <script src="/js/d3/d3.js"></script>
    <script src="/js/fisheye.js"></script>
    <script src="/plangular-3/dist/plangular.min.js"></script>
    
</head>
<body ng-app="FullstackGeneratedApp">
<style >
    .link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}
</style>

    <navbar></navbar>
    <div id="ui" ui-view></div>

    <!-- Angular Material Dependencies -->
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>

</body>
</html>