#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

.main-timeline {
  margin-top: -20px;
  overflow: scroll;
}

.measures {
  display: inline-block;
  height: 100%;
  border: 1px solid #502640;
  min-height: 100px;
  min-width: 200px;
  float: left;
}

.over {
  background: #D63953;
}

.item {
  min-height: 100px;
  min-width: 200px;
  background: #D63953;
  float: right;
}

.drag {
  opacity: 0.5;
}