#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}


div[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.collection {
  background: #202630;
  margin-left: 15px;
  margin-top: -10px;
  border-bottom: 1px solid #EB315D;
}

#lpBackground {
  background-image: url(images/lpBackground.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px;
  #lpBackgroundOverlay {
    background-color:rgba(0,0,0,0.3);
    height: 400px;

  }
}
#fullpage {
  background: #202630;
  #lpSpaciousText {
    h1, h4 {
      margin-bottom: 20px;
    }
    fullstack-logo {
      width: 35%;
      margin: 3em auto;
    }
    button {
      margin-top: 2em;
    }
    padding: 80px;
    letter-spacing: 10px;
  }
  #sellingPoints {
    background:#202630;
    color: #C5C1C8;
    padding:20px;
    h1 {
      text-transform: uppercase;
      font-size:4em;
      margin-bottom:0px;
      text-shadow: 0px 0px 14px #D93A54;
    }
    h3 {
      font-style: italic;
      font-weight: 200;
      margin-bottom: 80px;
      margin-top: 0px;
    }
    ul {
      padding-left: 0px;
      font-size: 2em;
    }
    li {
      list-style: none;
      margin-bottom: 40px;
    }
  }
  #lpForms {
    padding:80px 20px;
    .half{
      width: 50%;
      float: left;
      button {
        margin:0 auto;
        height:34px;
        width: 120px;
        display:block;
        margin-bottom:15px;
      }
      #scOAuth {
        background: #FF6600 url('/images/soundcloud-black.png') center no-repeat;
        border:0px;
        background-size:87%;
        border-radius: 4px;
      }
    }
  }
}
.t-c {
  text-align: center;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }   

  .cardContent{
    margin: 0em 2em;
  } 

.landing-top {
  height:100vh;
}

/* =Magic Mouse
-------------------------------------------------------------- */

.mouse {
  position: relative;
  width: 30px;
  height: 44px;
  border: 2px solid #EB315D;
  border-radius: 15px;
  background: transparent;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.mouse .wheel {
  width: 6px;
  height: 6px;
  background-color: #D63953;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  left: 0;
  right: 0;
  -webkit-animation: magic-mouse 1.7s infinite ease;
  animation: magic-mouse 1.7s infinite ease;
}

@keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
@-webkit-keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-ximer.outline {
    border: 1px solid #EB315D;
    color: #EB315D;
}
.btn-ximer.outline:hover, .btn-ximer.outline:focus, .btn-ximer.outline:active, .btn-ximer.outline.active, .open > .dropdown-toggle.btn-ximer {
    color: #BFBCC3;
    border-color: #BFBCC3;
}
.btn-ximer.outline:active, .btn-ximer.outline.active {
    border-color: #BFBCC3;
    color: #BFBCC3;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#ui {
  background-color: #202630;
}

.scplayer {

}


