<div class="col-xs-2">
    <button type="button" class="project-info" ng-click="clicker()" >
        <i class="fa fa-share-alt-square"></i>
    </button>
</div>
<!-- <div class="panel-body" ng-repeat="follower in user.followers" ng-click="goToFollower(follower)">
    <div ng-click=""> 
        <div class="row">
	        <div class="col-xs-2"><img class="img-responsive" src="">
	        </div>

            <div class="col-xs-4" >
                <h4 class="project-info"><strong >{{follower.followers.length}}</strong></h4><h4><small></small></h4>
            </div>

            <div class="col-xs-6">
                <div class="col-xs-6 text-right">
                    <h6 class="project-info"><strong>{{follower.name}}</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <button class="project-info" ng-click="">
        UnFollow
    </button>
    <hr>
</div> -->
<div class="user-follow" ng-click="">
	<followdirective ></followdirective>
</div>