<!-- <ul>
	<li ng-repeat="follower in user.followers"> {{follower}} </li>
</ul> -->

<div class="panel-body" ng-repeat="follower in user.followers">
    <div ng-click=""> 
        <div class="row">
            <div class="col-xs-4" >
                <h4 class="project-info"><strong >{{follower.picture}}</strong></h4><h4><small></small></h4>
            </div>

            <div class="col-xs-6">
                <div class="col-xs-6 text-right">
                    <h6 class="project-info"><strong>by {{follower.name}}</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="">
        Follow
    </button>
    <hr>
</div>