* {
  box-sizing: border-box; }

body {
  color: #FFF;
  background: #202630;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::selection {
  background: transparent;
  /* WebKit/Blink Browsers */ }

input::selection {
  background: #8AC007 !important; }

::-moz-selection {
  background: transparent;
  /* Gecko Browsers */ }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: #202630;
  margin-bottom: -20px; }
  navbar fullstack-logo {
    padding-top: 10px;
    margin: auto;
    width: 120px; }
    navbar fullstack-logo img {
      width: 100%; }
  navbar a {
    color: white; }
    navbar a:hover {
      color: white; }
  navbar .nav > li > a {
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #f30046; }
    navbar .nav > li > a:hover {
      color: #eee;
      transition: color 0.2s; }
    navbar .nav > li > a:focus {
      color: #f30046;
      background: transparent; }
  navbar .navbar-header {
    margin: auto;
    float: none;
    height: 85px; }
  navbar .login-button {
    float: right;
    margin-top: 8px; }
  navbar .welcome {
    float: right;
    margin-top: 12px; }
    navbar .welcome span {
      color: white; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #EB315D; }

xim-track .trackMainSection {
  background: #202630;
  width: 300px;
  border: 1px solid #502640;
  height: 100px;
  float: left;
  position: absolute;
  z-index: 999999; }
xim-track .trackAnalyser, xim-track .trackWave {
  width: 300px;
  height: 100px; }
xim-track .trackControllsContainer {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 0px; }
  xim-track .trackControllsContainer button.btn, xim-track .trackControllsContainer button.btn:hover, xim-track .trackControllsContainer button.btn:focus, xim-track .trackControllsContainer button.btn:active {
    color: #ccc;
    background-color: transparent;
    border: 0px;
    margin-left: 26px;
    padding: 6px 13px; }
xim-track .grayed {
  opacity: 0.2; }
xim-track .effectContainers {
  width: 50%;
  float: left;
  font-size: 8px;
  padding: 0px 5px;
  margin-top: -10px;
  margin-bottom: 1px; }
  xim-track .effectContainers md-slider .md-thumb:after {
    border-color: #f30046;
    background-color: #f30046; }
  xim-track .effectContainers md-slider .md-track.md-track-fill {
    background-color: #ccc; }
  xim-track .effectContainers md-slider .md-slider-wrapper {
    margin-top: -12px; }

.timeline-container {
  background: #202630;
  width: 100%;
  overflow-x: scroll; }

.controls-third {
  display: inline-block;
  width: 33.33333%;
  float: left; }

#project-container {
  background: #202630;
  padding-bottom: 40px; }
  #project-container #loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 38, 48, 0.6);
    z-index: 99999;
    text-align: center; }
    #project-container #loadingOverlay loading-gif .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    #project-container #loadingOverlay loading-gif img {
      vertical-align: middle;
      width: 120px;
      margin: auto; }

#projectHeader {
  text-align: center; }
  #projectHeader button {
    color: #f30046;
    background-color: transparent;
    border: 0px; }
  #projectHeader #metronome {
    background: url('/images/metronome.png') center no-repeat;
    text-indent: -9999px;
    padding: 3px;
    border: 0px;
    width: 50px;
    background-size: 40%; }
  #projectHeader #metronome.grey {
    background: url('/images/metronomeGrey.png') center no-repeat;
    background-size: 40%; }
  #projectHeader #projectName {
    font-size: 18px; }
    #projectHeader #projectName button {
      color: #fff; }
    #projectHeader #projectName input {
      background-color: transparent;
      border: 0px;
      text-align: center;
      padding: 0px; }
    #projectHeader #projectName input:focus {
      outline: none !important;
      border: 1px solid #f30046;
      box-shadow: 0 0 10px #f30046; }
  #projectHeader #positionSelector {
    color: #ccc;
    background-color: #f30046;
    border: 0px;
    height: 25px;
    text-align: center; }
  #projectHeader input[type=number]::-webkit-inner-spin-button, #projectHeader input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #projectHeader #timelinePosition {
    color: #ccc;
    border: 3px solid #f30046;
    background-color: #202630;
    display: inline-block;
    height: 25px;
    width: 31px;
    padding: 2px 0px;
    margin-left: -5px;
    text-align: center;
    border-left: 0px;
    margin-top: 1px; }

#playbackHead {
  position: relative;
  width: 1px;
  background-color: #fff;
  height: 814px;
  z-index: 9999;
  left: 300px;
  margin-bottom: -814px;
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0s; }

#measure-container {
  height: 14px; }
  #measure-container #measure-left {
    height: 14px;
    width: 300px;
    float: left;
    display: inline; }
  #measure-container .measureMarkers {
    border-left: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
    float: left;
    width: 200px;
    padding: 2px;
    height: 10px; }

.track-row {
  font-size: 0;
  margin-left: 300px; }

.measures {
  display: inline-block;
  height: 100%;
  border: 1px solid #502640;
  min-height: 100px;
  min-width: 200px; }

.over {
  background: #D63953; }

.item {
  min-height: 98px;
  min-width: 198px;
  background: #202630;
  -webkit-box-shadow: inset 0px 0px 0px 1px #D63953;
  -moz-box-shadow: inset 0px 0px 0px 1px #D63953;
  box-shadow: inset 0px 0px 0px 1px #D63953; }

.drag {
  opacity: 0.5; }

.tracks {
  margin-left: 1em;
  height: 100%;
  border: 1px solid #502640;
  min-height: 100px;
  min-width: 200px; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

div[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px; }

.collection {
  background: #202630; }

.infoStats__value {
  font-family: 'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 40px; }

#lpBackground {
  background-image: url(images/lpBackground.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 600px; }
  #lpBackground #lpBackgroundOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 400px; }

#fullpage {
  background: #202630; }
  #fullpage #lpSpaciousText {
    padding: 80px;
    letter-spacing: 10px;
    overflow: hidden; }
    #fullpage #lpSpaciousText h1, #fullpage #lpSpaciousText h4 {
      margin-bottom: 20px; }
    #fullpage #lpSpaciousText fullstack-logo {
      width: 60%;
      margin: 3em auto; }
    #fullpage #lpSpaciousText button {
      margin-top: 2em; }
  #fullpage #sellingPoints {
    background: #202630;
    color: #C5C1C8;
    padding: 20px; }
    #fullpage #sellingPoints h1 {
      text-transform: uppercase;
      font-size: 4em;
      margin-bottom: 0px;
      text-shadow: 0px 0px 14px #D93A54; }
    #fullpage #sellingPoints h3 {
      font-style: italic;
      font-weight: 200;
      margin-bottom: 80px;
      margin-top: 0px; }
    #fullpage #sellingPoints ul {
      padding-left: 0px;
      font-size: 2em; }
    #fullpage #sellingPoints li {
      list-style: none;
      margin-bottom: 40px; }
  #fullpage #lpForms {
    padding: 80px 20px; }
    #fullpage #lpForms .half {
      width: 50%;
      float: left; }
      #fullpage #lpForms .half button {
        margin: 0 auto;
        height: 34px;
        width: 120px;
        display: block;
        margin-bottom: 15px; }
      #fullpage #lpForms .half #scOAuth {
        background: #FF6600 url('/images/soundcloud-black.png') center no-repeat;
        border: 0px;
        background-size: 87%;
        border-radius: 4px; }

.t-c {
  text-align: center; }

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

.cardContent {
  margin: 0em 2em; }

.landing-top {
  height: 100vh; }

md-content.row {
  margin-right: 0px;
  margin-left: 0px; }

/* =Magic Mouse
-------------------------------------------------------------- */
.mouse {
  position: relative;
  width: 30px;
  height: 44px;
  border: 2px solid #EB315D;
  border-radius: 15px;
  background: transparent;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0; }

.mouse .wheel {
  width: 6px;
  height: 6px;
  background-color: #D63953;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  left: 0;
  right: 0;
  -webkit-animation: magic-mouse 1.7s infinite ease;
  animation: magic-mouse 1.7s infinite ease; }

@keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0; }

  30% {
    opacity: 1; }

  100% {
    margin-top: 18px;
    opacity: 0; } }

@-webkit-keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0; }

  30% {
    opacity: 1; }

  100% {
    margin-top: 18px;
    opacity: 0; } }

/***********************
  OUTLINE BUTTONS
************************/
.btn.outline {
  background: none;
  padding: 12px 22px; }

.btn-ximer.outline {
  border: 1px solid #EB315D;
  color: #EB315D; }

.btn-ximer.outline:hover, .btn-ximer.outline:focus, .btn-ximer.outline:active, .btn-ximer.outline.active, .open > .dropdown-toggle.btn-ximer {
  color: #BFBCC3;
  border-color: #BFBCC3; }

.btn-ximer.outline:active, .btn-ximer.outline.active {
  border-color: #BFBCC3;
  color: #BFBCC3;
  box-shadow: none; }

/***********************
  CUSTON BTN VALUES
************************/
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

#ui {
  background-color: #202630; }

#login-form, #signup-form {
  width: 60%;
  margin: 0 auto; }

.container {
  max-width: 100%; }

.nav > li > a.statelink:hover, .nav > li > a.statelink:focus {
  background-color: #eee; }

/* Profile container */
.profile {
  margin: 20px 0; }

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px; }

.profile-userbuttons .btn:last-child {
  margin-right: 0px; }

.profile-usermenu {
  margin-top: 30px; }

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7; }

.profile-usermenu ul li:last-child {
  border-bottom: none; }

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px; }

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1; }

.profile-usermenu ul li.active {
  border-bottom: none; }

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px; }

.project-info {
  color: black; }

/* Profile Content */
.profile-content {
  margin-left: 20px;
  padding: 20px;
  background: #fff;
  min-height: 460px; }
