* {
  box-sizing: border-box; }

body {
  background: #202630;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: #202630; }
  navbar fullstack-logo {
    padding-top: 20px;
    margin-right: 20px;
    width: 80px;
    padding-bottom: 20px; }
  navbar a {
    color: white; }
    navbar a:hover {
      color: white; }
  navbar .nav > li > a {
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #f30046; }
    navbar .nav > li > a:hover {
      transition: color 0.2s; }
    navbar .nav > li > a:focus {
      color: #f30046;
      background: transparent; }
  navbar .login-button {
    float: right;
    margin-top: 8px; }
  navbar .welcome {
    float: right;
    margin-top: 12px; }
    navbar .welcome span {
      color: white; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

.main-timeline {
  margin-top: -20px;
  overflow: scroll; }

.quarter-note {
  display: inline-block;
  height: 100%;
  border: 1px solid #502640;
  margin: 0px -3px; }

#login-form {
  width: 60%;
  margin: 0 auto; }
