* {
  box-sizing: border-box; }

body {
  color: #FFF;
  background: #202630;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: #202630;
  margin-bottom: -20px; }
  navbar fullstack-logo {
    padding-top: 20px;
    margin: auto;
    width: 120px;
    padding-bottom: 20px; }
  navbar a {
    color: white; }
    navbar a:hover {
      color: white; }
  navbar .nav > li > a {
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #f30046; }
    navbar .nav > li > a:hover {
      transition: color 0.2s; }
    navbar .nav > li > a:focus {
      color: #f30046;
      background: transparent; }
  navbar .navbar-header {
    margin: auto;
    float: none; }
  navbar .login-button {
    float: right;
    margin-top: 8px; }
  navbar .welcome {
    float: right;
    margin-top: 12px; }
    navbar .welcome span {
      color: white; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

.timeline-container {
  background: #202630; }

.track-row {
  font-size: 0; }

.main-timeline {
  overflow-x: scroll;
  overflow-y: hidden; }

.measures {
  display: inline-block;
  height: 100%;
  border: 1px solid #502640;
  min-height: 100px;
  min-width: 200px; }

.over {
  background: #D63953; }

.item {
  min-height: 98px;
  min-width: 198px;
  background: #D63953; }

.drag {
  opacity: 0.5; }

.tracks {
  margin-left: 1em;
  height: 100%;
  border: 1px solid #502640;
  min-height: 100px;
  min-width: 200px; }

div[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px; }

#login-form {
  width: 60%;
  margin: 0 auto; }
