navbar {

  display: block;
  background: #202630;
  margin-bottom: -20px;

  fullstack-logo {
    padding-top: 10px;
    margin: auto;
    width: 120px;
    padding-bottom: 20px;
      img {
        width:100%;
      }
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      color: #eee;
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .navbar-header {
    margin: auto;
    float: none;
    height: 85px;
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #EB315D;
}