<div ng-controller="ProjectController" id="project-container">
    <div ng-show="!isLoggedIn()">LOG IN</div>
	<div ng-show="isLoggedIn()">
		<!-- <div id="viz" style="background: #202630;">
	        <canvas id="analyser" width="1200" height="50"></canvas>
	        <canvas id="wavedisplay" width="100" height="100"></canvas>
	    </div> -->
	    <div id="projectHeader">
	    	<div id="projectName">
	    		<input ng-model="projectName" id="projectNameInput" value="{{projectName}}" ng-blur="nameChange(projectName)" required><div ng-show="nameError">{{nameError}}</div>
	    	</div>
	    	<button class="btn btn-primary" ng-click="play()" ng-disabled="playing"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
	    	<button class="btn btn-primary" ng-click="pause()"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
	    	<button class="btn btn-primary" ng-click="stop()"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
	    	<button class="btn btn-primary" ng-click="sendToAWS()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
	    	<button id="metronome" ng-class="{grey: !metronome.on}" ng-click="toggleMetronome()">Metro</button>
	    	<button class="btn btn-primary" ng-disabled="zoom === 100" ng-click="zoomIn()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	    	<button class="btn btn-primary" ng-disabled="zoom === 50" ng-click="zoomOut()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	    </div>
	    <div id="loadingOverlay" ng-show="loading">
			<loading-gif></loading-gif>
	    </div>

	    <div class="timeline-container">
	    	<div style="width: {{300 + (numMeasures.length * 200)}}px;">
		    	<div id="playbackHead"></div>
			    <div id="measure-container" class="clearfix">
				    <div id="measure-left">
				    </div>
				    <div class="measureMarkers" ng-repeat="measure in numMeasures">
				    	{{$index}}
					</div>
				</div>
			<!--ng-controller="TimelineController">-->
				<!-- <pre>{{tracks}}</pre> -->
		        <!-- <button class="btn btn-primary" ng-click="addTrack()">Add Track</button>
		        <button class="btn btn-info" ng-click="sendToAWS()">Save to AWS</button> -->
		        <div class="clearfix">

					<div class="main-timeline col-xs-12">
						<xim-track ng-repeat="track in tracks track by $index" class="">
							<!-- TRACK DIRECTIVE -->
						</xim-track>
					</div>
		        </div>
		    </div>
	    </div>
    </div>
</div>