<div ng-controller="HomeController">
    <md-content>
    <md-card ng-repeat="project in allProjects" class="collection">
        <img src="/images/logo.png" class="md-card-image" style="width:50px; height:50px;"alt="image caption">
        <md-card-content class="cardContent">
            <h2>{{project.name}}</h2>
           <h3 ng-click="getUserProfile(project.owner)">{{project.owner.username}}</h3>
        </md-card-content>
        <md-card-footer>
            <div class="md-actions" layout="row">
                <md-button ng-repeat="track in project.tracks" ng-click="sampleTrack(track)" class="md-raised" aria-label="button for track"><i class="fa fa-music "></i></md-button>
           </div>
           <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-click="makeFork(project)"> Fork </md-button>
           </div>
        </md-card-footer>
    </md-card>
</md-content>

</div>



<!-- div ng-repeat="track in project.tracks" ng-click="sampleTrack(track)"> {{track.name}} 
                    
                 </div>


                <div ng-show="isLoggedIn()">
                    <button ng-click="makeFork(project)">
                        <i class="fa fa-code-fork"></i> Fork
                    </button>
                </div> -->
	        <!-- <div id="viz" style="background: #202630;">
            <canvas id="analyser" width="1200" height="50"></canvas> -->
            <!-- <canvas id="wavedisplay" width="100" height="100"></canvas> -->
        <!-- </div>
        <div class="timeline-container" ng-controller="TimelineController">
            <button class="btn btn-primary" ng-click="addTrack()">Add Track</button>
            <button class="btn btn-info" ng-click="sendToAWS()">Save to AWS</button>
            <div class="row">
                <div class="col-xs-3">
                    <div ng-repeat="track in tracks track by $index" class="tracks">
                        <span>{{ track.name }}</span>
                        <div id="controls">
                            <button class="btn btn-primary" id="record" ng-click="record($event, $index)">record</button>
                            <a id="save" href="#">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
                <div class="main-timeline col-xs-9">

                    <canvas width="198" height="98" id="wavedisplay" class="item row1" style="position: absolute;" id="item1" draggable></canvas>

                    <div ng-repeat="track in tracks" class="track-row row1" style="width: 12100px;">
                        <div ng-repeat="measure in numMeasures" class="measures" droppable drop="handleDrop()">
                        </div>
                    </div>
                </div>
           </div>
        </div>
    
 -->