<div class="panel-body" ng-repeat="project in user.projects">
    <div ng-click="displayAProject(project)"> 
        <div class="row">
            <div class="col-xs-4" >
                <h4 class="project-info"><strong >{{project.name}}</strong></h4><h4><small></small></h4>
            </div>

            <div class="col-xs-6">
                <div class="col-xs-6 text-right">
                    <h6 class="project-info"><strong>by {{user.username}}</strong></h6>
                </div>

            </div>
            <div class="col-xs-2" ng-click="forkProject()"><i class="glyphicon glyphicon-random"></i></div>
        </div>
       <div class="profile-userbuttons">
           <audio src="{{}}" controls>    
                <embed src="" width="300" height="90" loop="false" autostart="false" />
           </audio>
        </div>
    </div>
    <button class="project-info" ng-click="makeFork(project)">
        <i class="fa fa-code-fork"></i> Fork
    </button>
    <hr>
</div>