* {
  box-sizing: border-box;
}

body {
	color: #FFF;
	background: #202630;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';