* {
  box-sizing: border-box;
}

body {
	color: #FFF;
	background: #202630;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'project/main';
@import 'home/main';
@import 'login/main';
@import 'userprofile/main';