<div style="background: #202630; width: 300px; border:1px solid #333; height:100px; float:left;">
	<canvas id="analyser{{$index}}" width="300" height="100" ng-show="track.empty || track.recording" ng-click="record($event, $index, recorder)"></canvas>
	<canvas id="wavedisplay{{$index}}" width="300" height="100" ng-hide="track.empty || track.recording" ng-dblclick="dropInTimeline($index)"></canvas>
	<a id="save{{$index}}" href="#" ng-hide="true">DOWNLOAD</a>
</div>
<!-- <div style="background: #202630; width: 300px;">
    <span>{{ track.name }}</span>
    <button class="btn btn-primary" id="record" ng-click="record($event, $index, recorder)">record</button>

    
</div> -->
<div class="track-row" style="width: {{300 + (numMeasures.length * 200)}}px;">
	<!-- Droppable Directive -->
	{{numMeasures.length}}
    <div ng-repeat="measure in numMeasures" class="measures" ng-class="{ 'taken' : track.locations.indexOf($index) > -1 }" droppable drop="handleDrop()">
    	<!-- <canvas width="198" height="98" id="wavedisplay" class="item" style="position: absolute;" draggable></canvas> -->
    	<div class="canvas-box"></div>

	</div>
</div>