<div id="trackMainSection">
	<canvas id="analyser{{$index}}" height="100px" class="trackAnalyser" ng-show="track.empty || track.recording" ng-click="record($event, $index, recorder)"></canvas>
	<canvas id="wavedisplay{{$index}}" height="100px" class="trackWave" ng-show="!track.empty && !track.recording && !track.onTimeline" ng-dblclick="dropInTimeline($index)"></canvas>
	<div style="width:300px; height:100px;" ng-show="!track.recording && !track.empty">
		BLAH
		<a id="save{{$index}}" href="#" ng-hide="true">DOWNLOAD</a>
	</div>
</div>
<div class="track-row" style="width: {{300 + (numMeasures.length * 200)}}px;">
	<!-- Droppable Directive -->
	{{numMeasures.length}}
    <div ng-repeat="measure in numMeasures" class="measures" ng-class="{ 'taken' : track.locations.indexOf($index) > -1 }" droppable drop="handleDrop()">
    	<div class="canvas-box"></div>
	</div>
</div>